include COPYING
include Makefile
include NEWS.md
include README.md
include CONTRIBUTING.md
include SECURITY.md
include acl.c
include setup.cfg
include doc/conf.py
include doc/*.rst
include doc/*.md
include tests/*.py
include py.typed
include posix1e.pyi
